.exper_list {
  strong {
    font-size: 20px;
  }

  > li:not(:last-child) {
    margin-bottom: 16px;
  }

  .info {
    display: inline-flex;
    margin-left: 12px;
  }

  .round_list {
    margin: 12px 0 12px 16px;
  }
}
