body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  * {
    color: #1a1a1a;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
  }
}

ul,
ol {
  list-style: none;
}

h1 {
  font-size: 44px;
  line-height: 1.1;
  text-align: left;
}

h2 {
  margin: 12px auto 8px;
}

a {
  font-weight: 700;
  color: #1a1a1a;
  text-decoration: inherit;
  transition: color 1s linear;

  &:hover {
    color: #6600ff;
  }
}
